<section id="books">
      <div class="container">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Buscar Nombre" name="filtroProduct" [(ngModel)]="filtroProduct">
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Alph
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" (click)="setAlpha(1)">Asc</button>
          <button class="dropdown-item" type="button" (click)="setAlpha(2)">Desc</button>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let item of products | sort :alpha | filtro:filtroProduct">
        <div class="card_book">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img class="img-fluid" src="{{item.imagenPrincipal}}" alt="{{item.name}}">
              </p>
              <h4 [routerLink]="['/producto', item.id]" class="card-title">{{item.name}}</h4>
              <p class="card-text">
                {{item.descripcion}}
              </p>
              <div class="container-precio-idioma">
                <p class="badge badge-info">
                  Precio={{item.price}}$
                </p>
                <p class="badge badge-info">
                  {{item.apreciacion}}
                </p>
              </div>
              <a href="" class="btn btn-block btn-primary" target="_blank">Buy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
