<div *ngIf="isLogged">
  <div *ngIf="isInhabilitado==='true'">
    <div class="row">
        <img class="img-responsive centrado mr-5" src="assets/img/bloqueado.png" width="60" height="60">
      <h2><p style="color:rgb(255, 6, 6)" class="centrado mt-4">SU CUENTA HA SIDO INHABILITADA</p></h2> 
      <img class="img-responsive centrado ml-5" src="assets/img/bloqueado.png" width="60" height="60">
    </div>
  </div>
</div>

<a class="nav-link" routerLink="/home"><img class="img-responsive" src="assets/img/bienvenida.png" width="1100" height="1000" class=""></a>
