<!------ Include the above in your HEAD tag ---------->

<div class="row userMain">
  <div class="col-md-7 col-sm-10 mx-auto mt-3">
      <div class="userBlock">
          <div class="backgrounImg">
              <img src="https://preview.ibb.co/miQjb7/photography4.jpg">
          </div>
          <div class="userImg">
              <img src="{{user.photoUrl}}">
          </div>
          <div class="userDescription">
               <h2> <p>{{user.name}}</p></h2>
             <h3>email: {{users.email}}</h3>
              
               <div class="followrs">
                   <span>Actualizar datos</span>
               </div>
 
                   <button class="btn" (click)="onPreUpDateUser(users)" data-toggle="modal" data-target="#modalprofile" >Actualizar</button>
          </div>

<br>

<div class="container ml-5 table-responsive">

    <div class="clearfix"></div>
    <div class="bot-border"></div>

    <div class=" tital float-left ml-5">Nombres:</div>
    <p class="text-center">{{users.firstnames}}</p>
    <div class="clearfix"></div>
    <div class="bot-border"></div>

    <div class=" tital float-left ml-5">Apellidos:</div>
    <p class="text-center">{{users.lastnames}}</p>
    <div class="clearfix"></div>
    <div class="bot-border"></div>

    <div class=" tital float-left ml-5">Estado:</div>
    <p class="text-center">{{users.estado}}</p>
    <div class="clearfix"></div>
    <div class="bot-border"></div>

    <div class=" tital float-left ml-5">Dirección:</div>
    <p class="text-center">{{users.direccion}}</p>
    <div class="clearfix"></div>
    <div class="bot-border"></div>

    <div class=" tital float-left ml-5">Codigo Postal:</div>
    <p class="text-center">{{users.codigoPostal}}</p>
    <div class="clearfix"></div>
    <div class="bot-border"></div>

    <div class=" tital float-left ml-5">telefono:</div>
    <p class="text-center">{{users.telefono}}</p>
    <div class="clearfix"></div>
    <div class="bot-border"></div>
         
</div>
  </div>
</div>
</div>
<br><br><br>
<app-modalprofile></app-modalprofile>
